<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Terms of Service</title>
    <div id="google_translate_element"></div>
    <link rel="stylesheet" href="/adminview-termsOfService.css" type="text/css" ></link>
</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a href="/notifications">Notifs</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br>peepeepoopoo</p>
                        </div>
                        <a href="/profile" class="current">Profile</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <li><a href="/termsOfService" id="tOS">Terms Of Service</a></li>

<h1 contenteditable="true">
    These Terms of Service (“Terms”) are part of the User Agreement– a legally binding contract governing your use of IndieDev.
</h1>
<h2 contenteditable="true"> When posting Content and otherwise using the Services, you must comply with this User Agreement and Applicable Law: You are responsible for your use of the Services and your Content. You must comply with this User Agreement, its incorporated policies, and all applicable laws.
    You must abide by the Services’ acceptable use terms: You may not access the Services in any way other than through the currently available, published interfaces that we provide. For example, this means that you cannot scrape the Services, try to work around any technical limitations we impose, or otherwise attempt to disrupt the operation of the Services.
    We have broad enforcement rights: IndieDev reserves the right to take enforcement actions against you if you do violate these terms, such as, for example, removing your Content, limiting visibility, discontinuing your access to IndieDev, or taking legal action. We may also suspend or terminate your account for other reasons, such as risk of legal exposure or commercial inviability.
    There are Intellectual Property Licenses in these Terms: You retain ownership and rights to any of your Content you post or share, and you provide us with a broad, royalty-free license to make your Content available to the rest of the world and to let others do the same. Conversely, we provide you a license to use the software we provide as part of the Services, solely for the purpose of enabling you to use and enjoy the benefit of the Services.
    Your use of the Services is at your own risk: We provide the Services on an “AS IS” and “AS AVAILABLE” basis, and we disclaim all warranties, responsibility, and liability to you or others to the extent permitted by law. You may be exposed to offensive or harmful content posted by other users. The Services may change from time to time, and we may limit or terminate availability of the Services or particular features to you or other users at any time.
    You have remedies and redress mechanisms, but our liability is limited: You have a right to terminate this agreement at any time by deactivating your account and discontinuing use of the Services. Note that we will not be liable for certain types of damages as described in the agreement, and in any event, our aggregate liability shall not exceed the greater of $1 USD for the Services giving rise to the claim. Further, if you believe that your Content has been copied in a way that constitutes copyright infringement, the reporting process is detailed in these Terms.
    Please also note that these Terms as well as other terms applicable to your use of the Services and your Content. Finally, these terms may vary depending on where you live, but in any case, you must be at least 18 years old to use IndieDev.
</h2>
</div>

<script src="script.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<footer>
    <h2>Site Map</h2>
    <div id="siteMapLeft">
        <ul class="footerNav">
            <li><a href="/home">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/chats">Chats</a></li>
            <li><a href="/tos">Terms Of Service</a></li>
        </ul>
    </div>
    <div id="siteMapRight">
        <ul class="footerNav">
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</footer>

</body>
</html>