<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Dashboard</title>
    <div id="google_translate_element"></div>
    <link rel="stylesheet" href="/dashboard.css" type="text/css" ></link>
    <script>
        function toggleDropdown() {
            let dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', function(event) {
            let dropdown = document.getElementById('profileDropdown');
            if (!event.target.closest('.dropdown')) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a th:href="@{/portfolio/{id}(id=${currentUser.username})}">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br th:text="${currentUser.getName()}"></p>
                        </div>
                        <a th:href="@{/id={id}(id=${currentUser.getUsername()})}">Profile</a>
                        <a href="/dashboard" th:if="${currentUser.getRole() == 'ADMIN' || currentUser.getRole() == 'MOD'}" class="current">Dashboard</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Content -->
    <div id="mainContent">
        <div id="contentHolder">
            <Table id="usersTable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Reports</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${userList}">
                        <td><em><a th:text="'View User:' + ${user.getId()}" th:href="'/id=' + ${user.getUsername()}">View User: </a></em></td>
                        <td th:text="${user.getUsername()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getRole()}"></td>
                        <td><em><a th:href="'/dashboard/' + ${user.getUsername()} + '/reports'">View Reports</a></em></td>
                    </tr>
                </tbody>
            </Table>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <h2>Site Map</h2>
        <div id="siteMapLeft">
            <ul class="footerNav">
                <li><a href="/home">Home</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a th:href="@{/id={id}(id=${currentUser.getUsername()})}" >Profile</a></li>
            </ul>
        </div>
        <div id="siteMapRight">
            <ul class="footerNav">
                <li><a href="/termsOfService">Terms Of Service</a></li>
            </ul>
        </div>
    </footer>
</div>

<script src="script.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );

    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>