<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Home</title>
    <link rel="stylesheet" href="../static/welcome.css" type="text/css" ></link>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="https://seeklogo.com/images/W/web-icon-logo-A6B586D114-seeklogo.com.png" alt="IndieDev Logo" height="150" width="150" class="images"/>
			<nav>
				<ul class="navigation">
					<li><a href="home.html" class="current">Home</a></li>
					<li><a href="home.html">Posts</a></li>
					<li><a href="home.html">Chats</a></li>
					<li><a href="home.html">Profile</a></li>
					<li><a href="Loginpage.html" id="specialButton">Login/Register</a></li>
				</ul>
			</nav>
			
			
        </header>
    </div>
</body>
</html>