<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<head>
	<meta charset="UTF-8">
	<title>IndieDev | Home</title>
	<link rel="stylesheet" href="/home.css" type="text/css" ></link>
	<script>
		function toggleDropdown() {
			var dropdown = document.getElementById('profileDropdown');
			dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
		}

		// Close the dropdown when clicking outside of it
		window.addEventListener('click', function(event) {
			var dropdown = document.getElementById('profileDropdown');
			if (!event.target.closest('.dropdown')) {
				dropdown.style.display = 'none';
			}
		});
	</script>
</head>
<body>
<div class="wrapper">
	<header>
		<img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
		<nav>
			<ul class="navigation">
				<li><a href="/home" class="current">Home</a></li>
				<li><a th:href="@{/portfolio/{id}(id=${currentUser})}">Portfolio</a></li>
				<li><a href="/chats">Chats</a></li>
				<li><a href="/notifications">Notifs</a></li>
				<li class="dropdown" onclick="toggleDropdown()">
					<img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
					<div class="dropdown-content" id="profileDropdown">
						<div id="profileInfo">
							<img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
							<p>Hi,<br th:text="${currentUser}"></p>
						</div>
						<a th:href="@{/id={id}(id=${currentUser})}" >Profile</a>
						<a href="/logout">Logout</a>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<div class="behind-post">
		<button class="createPostBtn">
			<a href="/createPost">Create</a>
		</button>
		<div th:each="post : ${posts}"  class="postDiv" >
			<div class="postUserInfoDiv">
				<div class="postsUserInfoDiv">
					<!-- replace this with user profile image  and username instead of id-->
					<img th:src="${@userService.getProfilePictureUrl(post.userId)}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
					<a><strong th:text="${@userService.getUsernameById(post.userId)}"></strong></a>
				</div>
				<button>
					<img src="https://cdn.icon-icons.com/icons2/2483/PNG/512/edit_circle_icon_149940.png" alt="edit Button"/>
				</button>
			</div>
			<div class="postInfo">
				<p th:text="${post.body}"></p>
			</div>
			<div class="postContentDiv">
				<img th:src="@{'images/' + ${post.visual}}" alt="Code segment">
			</div>
			<div class="postStatsDiv">
				<!-- like count -->
				<p th:text="${post.like_count} + ' '+ likes"></p>
				<div th:each="user : ${users}">
					<img th:src="@{${@userService.getProfilePictureUrl(user.id)}}" alt="Profile Pic" height="30px" width="30px" class="profileImg"/>
					<span th:text="${user.username}"></span>
				</div>
				<!-- comments -->
				<div th:each="comment : ${__${'comments_' + post.postId}__}">
					<img th:src="@{${@userService.getProfilePictureUrl(comment.userId)}}" alt="Profile Pic" height="30px" width="30px" class="profileImg"/>
					<span th:text="${@userService.getUsernameById(comment.userId)}"></span>
					<p th:text="${comment.body}"></p>
				</div>
			</div>
			<div class="postButtonDiv">
				<!-- post actions -->
				<form th:action="@{/like}" method="post">
					<input type="hidden" name="postId" th:value="${post.postId}" />
					<button type="submit" class="postLikeBtn">Like</button>
				</form>
				<button class="postReportBtn">Report</button>
				<form th:action="@{'/post/' + ${post.postId} + '/comment'}" method="post">
					<input type="hidden" name="postId" th:value="${post.postId}" />
					<textarea name="body" class="comment-input" placeholder="Add a comment"></textarea>
					<button type="submit">Submit</button>
				</form>

			</div>
		</div>
	</div>
	<footer>
		<h2>Site Map</h2>
		<div id="siteMapLeft">
			<ul class="footerNav">
				<li><a href="/home">Home</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/chats">Chats</a></li>
			</ul>
		</div>
		<div id="siteMapRight">
			<ul class="footerNav">
				<li><a href="/profile">Profile</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div>
	</footer>
</div>

</body>
</html>