<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Login</title>
    <link rel="stylesheet" href="/loginregister.css" type="text/css" ></link>
</head>
<body>
    <div class="wrapper">
        <header>
            <img src="https://seeklogo.com/images/W/web-icon-logo-A6B586D114-seeklogo.com.png" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
            <nav>
                <ul class="navigation">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">Chats</a></li>
                    <li><a href="#" id="specialButton">Register</a></li>
                    <li><a href="#">
                        <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height = "50px" width = "50px" id="profileImg"/></a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="divSep">
        </div>
        <div class="divContainer">
            <h1 class="headingStyle">Login</h1>
            <form id="loginForm" name="loginForm">
                <div class="divPart">
                    <label for="userName"><strong>Username:</strong></label><input type="text" id="userName" name="userName">
                </div>
                <div class="divPart">
                    <label for="passWord"><strong>Password:</strong></label><input type="password" id="passWord" name="passWord">
                </div>
                <div class="divPart">
                    <button type="button" id="loginButton" name="login">Login</button>
                    <a href="#" class="redirectButton">Forgot your password?</a>
                    <a href="#" class="redirectButton">Don't have an account? Open one today!</a>
                </div>
            </form>
        </div>
        <div class="divSep">
        </div>
    </div>
</body>
</html>