<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Notifs</title>
    <link rel="stylesheet" href="/notifications.css" type="text/css" ></link>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', function(event) {
            var dropdown = document.getElementById('profileDropdown');
            if (!event.target.closest('.dropdown')) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <img src="https://seeklogo.com/images/W/web-icon-logo-A6B586D114-seeklogo.com.png" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a href="/notifications" class="current">Notifs</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br>peepeepoopoo</p>
                        </div>
                        <a href="/profile">Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div id="notifMainDiv">
        <h1>Interactions</h1>
        <ul>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> sent you a friend request!
                <a href="#">Click to Accept!</a>
            </li>
            <li>@username commented "yo, dope post!!!"</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
            <li><a href="/profile-example">@username</a> liked your post!</li>
        </ul>
    </div>
    <!--
    <div class="leftSide2">
        <ul>
            <h1>
                Interactions
            </h1>
            <p>
                <a href="/profile-example">@username</a> liked your post!<br><br>
                <a href="/profile-example">@username</a> sent you a friend request! <a href="#">Click to Accept</a><br><br>
                @username commented "yo dope post!"<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
                @username liked your post!<br><br>
            </p>
        </ul>
    </div>
    -->
</div>

</body>
</html>