<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Profile</title>
    <div id="google_translate_element"></div>
    <link rel="stylesheet" href="/profile.css" type="text/css" ></link>
    <script>
        function toggleDropdown() {
            let dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', function(event) {
            let dropdown = document.getElementById('profileDropdown');
            if (!event.target.closest('.dropdown')) {
                dropdown.style.display = 'none';
            }
        });

        function toggleMoreDropdown(dropdownId) {
            let dropdown = document.getElementById(dropdownId);
            if (dropdown) {
                dropdown.style.display = (dropdown.style.display === 'flex') ? 'none' : 'flex';
            }
        }

        function toggleReportMenu(dropdownId) {
            let dropdown = document.getElementById(dropdownId);
            if (dropdown) {
                dropdown.style.display = (dropdown.style.display === 'flex') ? 'none' : 'flex';
            }
        }

        function toggleComments(commentDivId) {
            let displayDiv = document.getElementById(commentDivId);
            if (displayDiv) {
                displayDiv.style.display = (displayDiv.style.display === 'block') ? 'none' : 'block';
            }
        }

        function showDeleteConfirmation(postId) {
            let confirmDelete = confirm("Are you sure you want to delete this post?");
            if (confirmDelete) {
                // If the user confirms, redirect to the deletePost endpoint
                window.location.href = '/deletePost?postId=' + postId;
            } else {
                // If the user cancels, do nothing or provide feedback
                console.log('Deletion canceled.');
            }
        }
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a th:href="@{/portfolio/{id}(id=${currentUser.username})}">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br th:text="${currentUser.getName()}"></p>
                        </div>
                        <a th:href="@{/id={id}(id=${currentUser.getUsername()})}" class="current">Profile</a>
                        <a href="/dashboard" th:if="${currentUser.getRole() == 'ADMIN' || currentUser.getRole() == 'MOD'}">Dashboard</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Content -->
    <div id="mainContent">
        <div id="contentLeft">
            <div id="profilePic">
                <img th:src="${user.profile_picture}" alt="Profile Pic" class="profileImg"/>
            </div>
            <h1 th:text="${user.name}"></h1>
            <h2 th:text="'@' + ${user.username}"></h2>
            <h3>Roles:</h3>
            <ul id="roleContainer">
                <!-- These will only display if profession of the user is equal to the string -->
                <li th:if="${user.profession == 'Developer'}" id="roleDisplayDeveloper">Developer</li>
                <li th:if="${user.profession == 'Designer'}" id="roleDisplayDesigner">Designer</li>
                <li th:if="${user.profession == 'Artist'}"id="roleDisplayArtist">Artist</li>
                <li th:if="${user.profession == 'Musician'}"id="roleDisplayMusician">Musician</li>
                <li th:if="${user.profession == 'Creatist'}"id="roleDisplayCreatist">Creatist</li>
                <li th:if="${user.profession == 'Writer'}"id="roleDisplayWriter">Writer</li>
            </ul>

            <div id="actionContainer">
                <button id="seeProjectBtn">
                    <a th:href="@{/portfolio/{id}(id=${user.username})}">See My Projects</a>
                </button>
                <button th:if="${currentUser.id == user.id}" id="editProfile" onclick="openForm()">Edit Profile</button>
                <div id="editProfileDiv">
                    <form id="editProfileForm" action="/update" method="POST">
                        <h1>Edit Profile</h1>
                        <div class="fieldEditProfileDiv">
                            <label><strong>Pick a Profile Picture:</strong></label>
                            <fieldset id="profilePicOptions">
                                <label for="presetProfileImg1">
                                    <input type="radio" id="presetProfileImg1" name="profile_picture" value="/images/pp1.jpg">
                                    <img src="/images/pp1.jpg" class="presetProfileImg" alt="Preset Profile Pic 1"></img>
                                </label>
                                <label for="presetProfileImg2">
                                    <input type="radio" id="presetProfileImg2" name="profile_picture" value="/images/pp2.png">
                                    <img src="/images/pp2.png" class="presetProfileImg"  alt="Preset Profile Pic 2"></img>
                                </label>
                                <label for="presetProfileImg3">
                                    <input type="radio" id="presetProfileImg3" name="profile_picture" value="/images/pp3.jpg">
                                    <img src="/images/pp3.jpg" class="presetProfileImg"  alt="Preset Profile Pic 3"></img>
                                </label>
                                <label for="presetProfileImg4">
                                    <input type="radio" id="presetProfileImg4" name="profile_picture" value="/images/pp4.jpg">
                                    <img src="/images/pp4.jpg" class="presetProfileImg"  alt="Preset Profile Pic 4"></img>
                                </label>
                                <label for="presetProfileImg5">
                                    <input type="radio" id="presetProfileImg5" name="profile_picture" value="/images/pp5.jpg">
                                    <img src="/images/pp5.jpg" class="presetProfileImg"  alt="Preset Profile Pic 5"></img>
                                </label>
                                <label for="uploadedProfilePic">
                                    <input type="radio" id="uploadedProfilePic" name="profile_picture" value="pp6">
                                    <img src="https://cdn-icons-png.flaticon.com/512/16/16410.png" class="presetProfileImg" id="uploadedProfilePicImg" alt="Preset Profile Pic 5"></img>
                                </label>

                                <label id="profileUploadPicLabel" for="profileUploadPic">
                                    Upload Image
                                    <input type="file" accept=".png, .jpeg, .jpg, .webp" id="profileUploadPic" name="uploadedProfilePic" onchange="displayImage()">
                                </label>
                            </fieldset>
                        </div>

                        <input type="text" th:value="${currentUser.getId()}" name="id" required hidden id="userId">
                        <div class="fieldEditProfileDiv">
                            <label>
                                <strong>Your Name:</strong>
                                <input type="text" th:value="${currentUser.getName()}" name="name" required>
                            </label>
                        </div>
                        <div class="fieldEditProfileDiv">
                            <label>
                                <strong>Your Username:</strong>
                                <input type="text" th:value="${currentUser.getUsername()}" name="username" required>
                            </label>
                        </div>
                        <div class="fieldEditProfileDiv">
                            <label>
                                <strong>Your Password:</strong>
                                <input type="password" th:value="${currentUser.getPassword()}" name="password" required>
                            </label>
                        </div>
                        <div class="fieldEditProfileDiv">
                            <label>
                                <strong>Your Profession:</strong>
                                <input type="text" th:value="${currentUser.getProfession()} " name="profession" required>
                            </label>
                        </div>
                        <input type="submit" id="submitEditProfileBtn">
                        <button type="button" id="cancelEditProfileBtn" onclick="closeForm()">Cancel</button>
                    </form>
                </div>
                <!-- only show if on another users page, current user is the signed in user, user is the viewed user -->
                <button th:if="${currentUser.id != user.id}" id="reportBtn" onclick="toggleReportMenu()">Report</button>
                <div th:if="${currentUser.id != user.id}" id="reportFormDiv">
                    <form id="reportForm" th:action="@{/submitReportProfile}" method="post">
                        <h1>Report</h1>
                        <div class="fieldIODiv">
                            <label for="reporterUserName">
                                <strong>Your Username:</strong>
                            </label>
                            <input id="reporterUserName" name="reporterUserName" type="text" th:value="${currentUser.getUsername()}" readonly>
                            <input id="reportedUserName" name="reportedUserName" type="text" th:value="${user.getUsername()}" readonly hidden>
                        </div>
                        <div class="fieldIODiv">
                            <label for="reasoningInput">
                                <strong>Reasoning:</strong>
                            </label>
                            <textarea id="reasoningInput" name="reasoningInput"></textarea>
                        </div>
                        <div id="reportFormBtnDiv">
                            <button id="submitReportBtn" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

                <button type="button" th:if="${currentUser.role == 'MOD' && currentUser.id != user.id}" id="pauseAccBtn" th:onclick="'confirmPauseAcc(' + ${user.id} + ')'" >! PAUSE ACCOUNT !</button>
                <button type="button" id="removeAccBtn" th:if="${currentUser.role == 'ADMIN' && currentUser.id != user.id}" th:onclick="'confirmDeleteAcc(' + ${user.id} + ')'" >! REMOVE ACCOUNT ! </button>
            </div>
        </div>
        <div id="contentRight">
            <div id="postsTitleDiv">
                <h1>Posts</h1>
            </div>

            <!-- Posts Div -->
            <div th:each="post : ${posts}" class="postDiv" th:if="${not post.lockedPost}">
                <div class="postUserInfoDiv">
                    <div class="postsUserInfoDiv">
                        <img th:src="${@userService.getProfilePictureUrl(post.userId)}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                        <a><strong th:text="${@userService.getUsernameById(post.userId)}"></strong></a>
                    </div>
                    <button type="button" class="moreDropdownBtn" th:onclick="'toggleMoreDropdown(\'moreDropdownDiv_' + ${post.postId} + '\')'">
                        <img src="/images/more_icon.png" alt="more Button"/>
                    </button>
                    <div class="moreDropdownDiv" th:id="'moreDropdownDiv_' + ${post.postId}" style="display: none;">
                        <a href="#" th:if="${currentUser.id == post.userId}">Edit</a>
                        <button th:if="${currentUser.id != post.userId}" th:onclick="'toggleReportMenu(\'reportFormDiv_' + ${post.postId} + '\')'" type="button">Report</button>
                        <div th:if="${currentUser.id != post.userId}" class="reportFormDiv2" th:id="'reportFormDiv2_' + ${post.postId}">
                            <form id="reportForm2" th:action="@{/submitReportPost}" method="post">
                                <h1>Report</h1>
                                <div class="fieldIODiv">
                                    <label for="reporterUserName">
                                        <strong>Your Username:</strong>
                                    </label>
                                    <input id="reporterUserName2" name="reporterUserName" type="text" th:value="${currentUser.getUsername()}" readonly>
                                    <input id="reportedUserId" name="reportedUserId" type="text" th:value="${post.getUserId()}" readonly hidden>
                                    <input id="reportedPostId" name="reportedPostId" type="text" th:value="${post.getPostId()}" readonly hidden>
                                </div>
                                <div class="fieldIODiv">
                                    <label for="reasoningInput">
                                        <strong>Reasoning:</strong>
                                    </label>
                                    <textarea id="reasoningInput2" name="reasoningInput"></textarea>
                                </div>
                                <div id="reportFormBtnDiv2">
                                    <button id="submitReportBtn2" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                        <button type="button" th:if="${currentUser.getRole() == 'MOD' || currentUser.getId() == post.userId || currentUser.getRole() == 'ADMIN'}"
                                th:onclick="'showDeleteConfirmation(\'' + ${post.postId} + '\')'">Delete</button>
                        <form th:if="${currentUser.getRole() == 'MOD'}" th:action="@{/lockPost/{postId}(postId=${post.getPostId()})}" method="post">
                            <button type="submit">Lock Post</button>
                        </form>
                    </div>
                </div>
                <div class="postInfo">
                    <p th:text="${post.body}"></p>
                </div>
                <div class="postContentDiv">
                    <img th:src="@{'images/' + ${post.visual}}" alt="Code segment">
                </div>
                <div class="postStatsDiv">
                    <!-- like count -->
                    <p th:text="${post.like_count} + ' '+ likes"></p>
                    <p>Comments</p>
                    <!-- Comments -->
                    <div class="postsCommentDiv" th:id="'postsCommentDiv_' + ${post.postId}">
                        <div class="postedCommentDiv" th:each="comment : ${__${'comments_' + post.postId}__}">
                            <div class="postedCommentLeftDiv">
                                <img th:src="@{${@userService.getProfilePictureUrl(comment.userId)}}" alt="Profile Pic"/>
                            </div>
                            <div class="postedCommentRightDiv">
                                <strong><em><p th:text="${@userService.getUsernameById(comment.userId)}"></p></em></strong>
                                <p th:text="${comment.body}"></p>
                            </div>
                        </div>
                        <div class="postingCommentDiv">
                            <div class="postingCommentLeftDiv">
                                <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic"/>
                            </div>
                            <div class="postingCommentRightDiv">
                                <form th:action="@{'/post/' + ${post.postId} + '/comment'}" method="post">
                                    <input type="hidden" name="postId" th:value="${post.postId}" />
                                    <textarea name="body" class="postingCommentInput" placeholder="Add a comment"></textarea>
                                    <button type="submit" class="postingCommentInputBtn">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postButtonDiv">
                    <!-- post actions -->
                    <form th:action="@{/like}" method="post">
                        <input type="hidden" name="postId" th:value="${post.postId}" />
                        <button type="submit" class="postLikeBtn">Like</button>
                    </form>
                    <button class="postCommentBtn" th:onclick="'toggleComments(\'postsCommentDiv_' + ${post.postId} + '\')'" type="button">Comments</button>
                </div>
            </div>
            <!-- Post End Div -->
    </div>
    <script>
        function toggleReportMenu(){
            let reportButton = document.getElementById("reportBtn");
            let reportMenuDiv = document.getElementById("reportFormDiv");

            if (reportMenuDiv.style.display === "none") {
                reportMenuDiv.style.display = "flex";
                reportButton.innerHTML = "Close Report"
                console.log("Open")
            } else {
                reportMenuDiv.style.display = "none";
                reportButton.innerHTML = "Report";
                console.log("Closed")
            }
        }
        function openForm() {
            document.getElementById("editProfileDiv").style.display = "block";
        }

        function closeForm() {
            document.getElementById("editProfileDiv").style.display = "none";
        }

        function displayImage() {
            // Get the input element
            let input = document.getElementById('profileUploadPic');

            // Get the image element
            let image = document.getElementById('uploadedProfilePicImg');

            // Get the radio button for uploaded profile pic
            let uploadedProfilePicRadio = document.getElementById('uploadedProfilePic');

            // Get the hidden input for user ID
            let userIdInput = document.getElementById('userId');

            // Check if a file is selected
            if (input.files && input.files[0]) {
                // Create a FormData object to send the file to the server
                let formData = new FormData();
                formData.append('file', input.files[0]);
                formData.append('userId', userIdInput.value);

                // Use Fetch API to send the file to the server
                fetch('/uploadProfilePic', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        // Update the value of the radio button with the new profile picture name
                        let uploadedFileName = data.fileName;
                        uploadedProfilePicRadio.value = "/images/" + uploadedFileName;  // Update the value
                        image.src = "/images/" + uploadedFileName; // Use relative path
                    })
                    .catch(error => console.error('Error uploading profile picture:', error));
            }
        }

        function confirmPauseAcc(userId) {
            console.log('confirmPauseAcc function called with userId:', userId);

            if (confirm("Are you sure you want to pause this account?")) {
                // If the user clicks OK, send a POST request to the changeAuthorization endpoint
                fetch(`/changeAuthorization/${userId}`, { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            // If the request was successful, redirect to the home page
                            window.location.href = "/home";
                        } else {
                            // Handle error cases if needed
                            console.error('Error pausing account:', response.statusText);
                        }
                    })
                    .catch(error => console.error('Error pausing account:', error));
            }
        }

        function confirmDeleteAcc(userId) {
            console.log('confirmDeleteAcc function called with userId:', userId);

            if (confirm("Are you sure you want to delete this account?")) {
                // If the user clicks OK, send a POST request to the changeAuthorization endpoint
                fetch(`/delete/${userId}`, { method: 'POST' })
                    .then(response => {
                        if (response.ok) {
                            // If the request was successful, redirect to the home page
                            window.location.href = "/home";
                        } else {
                            // Handle error cases if needed
                            console.error('Error deleting account:', response.statusText);
                        }
                    })
                    .catch(error => console.error('Error pausing account:', error));
            }
        }

        function viewReportsRedirect(username) {
            console.log(`Redirecting to /dashboard/${username}/reports`);
            window.location.href = `/dashboard/${username}/reports`;

        }
    </script>

    <script src="script.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    </div>
    <footer>
        <h2>Site Map</h2>
        <div id="siteMapLeft">
            <ul class="footerNav">
                <li><a href="/home">Home</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a th:href="@{/id={id}(id=${currentUser.getUsername()})}" class="current">Profile</a></li>
            </ul>
        </div>
        <div id="siteMapRight">
            <ul class="footerNav">
                <li><a href="/termsOfService">Terms Of Service</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>