<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Register</title>
    <link rel="stylesheet" href="/login.css" type="text/css" >
    <link rel="stylesheet" href="/register.css" type="text/css" >
</head>
<body>
    <div class="wrapper">
        <header>
            <img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
            <nav>
                <ul class="navigation">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/chats">Chats</a></li>
                    <li><a href="/notifications">Notifs</a></li>
                    <li><a href="/login" id="specialButton">Login</a></li>
                </ul>
            </nav>
        </header>
        <!-- Content -->
        <div class="divSep">
        </div>
        <div class="divContainerReg">
            <h1 class="headingStyle">Register</h1>
            <form id="registerForm" name="registerForm">
                <div class="divPart">
                    <label for="userName"><strong>Username:</strong></label><input type="text" id="userName" name="username">
                </div>
                <div class="divPart">
                    <label for="name"><strong>Name:</strong></label><input type="text" id="name" name="name">
                </div>
                <div class="divPart">
                    <label for="email"><strong>Email:</strong></label><input type="text" id="email" name="email">
                </div>
                <div class="divPart">
                    <label for="passWord"><strong>Password:</strong></label><input type="password" id="passWord" name="password">
                </div>
                <div class="divPart">
                    <label for="confirmPassword"><strong>Confirm Password:</strong></label><input type="password" id="confirmPassword" name="confirmPassword">
                </div>
                <div class="divPart">
                    <label><strong>Select your role:</strong></label>
                    <fieldset id="roleSection">
                        <label for="roleGameDev">
                            <input type="checkbox" id="roleGameDev" name="roleGameDev" value="roleGameDev">Developer
                        </label>
                        <label for="roleGameDesign">
                            <input type="checkbox" id="roleGameDesign" name="roleGameDesign" value="roleGameDesign">Designer
                        </label>
                        <label for="roleArtist">
                            <input type="checkbox" id="roleArtist" name="roleArtist" value="roleArtist">Artist
                        </label>
                        <label for="roleMusician">
                            <input type="checkbox" id="roleMusician" name="roleMusician" value="roleMusician">Musician
                        </label>
                        <label for="roleCreatist">
                            <input type="checkbox" id="roleCreatist" name="roleCreatist" value="roleCreatist">Creatist
                        </label>
                        <label for="roleWriter">
                            <input type="checkbox" id="roleWriter" name="roleWriter" value="roleWriter">Writer
                        </label>
                    </fieldset>
                </div>
                <div class="divPart">
                    <button type="button" id="registerButton" name="registerButton">Register</button>
                    <a href="/login" class="redirectButton">Already have an account? Login!</a>
                </div>
            </form>
        </div>
        <div class="divSep">
        </div>
        <!-- Footer -->
        <footer>
            <h2>Site Map</h2>
            <div id="siteMapLeft">
                <ul class="footerNav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/chats">Chats</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
            <div id="siteMapRight">
                <ul class="footerNav">
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>