<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | ReportSheet</title>
    <link rel="stylesheet" href="/reportsheet.css" type="text/css" ></link>
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', function(event) {
            var dropdown = document.getElementById('profileDropdown');
            if (!event.target.closest('.dropdown')) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <img src="https://seeklogo.com/images/W/web-icon-logo-A6B586D114-seeklogo.com.png" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li><a href="/notifications">Notifs</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br>peepeepoopoo</p>
                        </div>
                        <a href="/profile" class="current">Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div id="divSep">
    </div>
    <div class="divContainer">
        <div class="leftSide">
           <h1>
               Reports Against User
           </h1>
            <ul>
                <li>
                    <p>
                         <b>Made By:</b> username1212<br><br>
                         <b>Reason:</b> inappropriate post <br><br>
                    </p>
                </li>
                <li>
                    <p>
                        <b>Made By:</b> username1212<br><br>
                        <b>Reason:</b> dumb post <br>
                    </p>
                </li>
            </ul>
        </div>
        <div class="rightSide">
            <img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Hello" height = "430px" width="430px" class="images"/>
        </div>
    </div>
</div>
</body>
</html>