<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Report Sheet</title>
    <div id="google_translate_element"></div>
    <link rel="stylesheet" href="/reportsheet.css" type="text/css" ></link>
    <script>
        function toggleDropdown() {
            let dropdown = document.getElementById('profileDropdown');
            dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
        }

        // Close the dropdown when clicking outside of it
        window.addEventListener('click', function(event) {
            let dropdown = document.getElementById('profileDropdown');
            if (!event.target.closest('.dropdown')) {
                dropdown.style.display = 'none';
            }
        });
    </script>
</head>
<body>
<div class="wrapper">
    <header>
        <img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
        <nav>
            <ul class="navigation">
                <li><a href="/home">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/chats">Chats</a></li>
                <li class="dropdown" onclick="toggleDropdown()">
                    <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                    <div class="dropdown-content" id="profileDropdown">
                        <div id="profileInfo">
                            <img th:src="${currentUser.getProfile_picture()}" alt="Profile Pic" height="50px" width="50px" class="profileImg"/>
                            <p>Hi,<br th:text="${currentUser.getName()}"></p>
                        </div>
                        <a href="/profile">Profile</a>
                        <a href="/dashboard" class="current">Dashboard</a>
                        <a href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Content -->
    <div id="mainContent">
        <div id="contentHolderLeft">
            <div id="profilePic">
                <img th:src="${viewedUser.getProfile_picture()}" alt="Reported User Profile Pic">
            </div>
            <h1 th:text="${viewedUser.getName()}"></h1>
            <h2 th:text="'Username: ' + ${viewedUser.getUsername()}"></h2>
            <h2 th:text="'User ID: ' + ${viewedUser.getId()}"></h2>
            <h2 th:text="'User Status: ' + ${viewedUser.getRole()}"></h2>
            <form th:if="${viewedUser.getRole() == 'LOCKEDUSER' && currentUser.getRole() == 'ADMIN'}" method="post" th:action="@{/unlockAccount/{username}(username=${viewedUser.getId()})}">
                <button type="submit">Unlock Account</button>
            </form>
        </div>
        <div id="contentHolderRight">
            <Table id="usersTable">
                <thead>
                <tr>
                    <th>Report ID</th>
                    <th>Reporter User ID (Username)</th>
                    <th>Creation Date</th>
                    <th>Classification (USER, POST, OR PROJECT)</th>
                    <th>Reported User ID</th>
                    <th>Reported Project ID</th>
                    <th>Reported Post ID</th>
                    <th>Report Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="report : ${reportList}">
                    <td th:text="${report.getReportId()}"></td>
                    <td th:text="${report.getReporterUserId()} + '(' + ${@userService.getUsernameById(report.getReporterUserId())} + ')'"></td>
                    <td th:text="${report.getCreationDate()}"></td>
                    <td th:text="${report.getReportClassification()}"></td>
                    <td th:text="${report.getReportedUserId()}"></td>
                    <td th:text="${report.getReportedProjectId()}"></td>
                    <td th:text="${report.getReportedPostId()}"></td>
                    <td th:text="${report.getReportDescription()}"></td>
                </tr>
                </tbody>
            </Table>
            <Table id="postsTable">
                <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Post Body</th>
                    <th>Post Image</th>
                    <th>Post Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${postsList}" th:if="${post.lockedPost}">
                    <td th:text="${post.getPostId()}"></td>
                    <td th:text="${post.getBody()}"></td>
                    <td>
                        <img th:src="${post.getVisual()}">
                    </td>
                    <td>
                        <form method="post" th:action="@{/unlockPost/{postId}(postId=${post.getPostId()})}">
                            <button type="submit">Unlock</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </Table>
        </div>
    </div>
</div>

<script src="script.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>
<script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<footer>
    <h2>Site Map</h2>
    <div id="siteMapLeft">
        <ul class="footerNav">
            <li><a href="/home">Home</a></li>
            <li><a href="/chats">Chats</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
    <div id="siteMapRight">
        <ul class="footerNav">
            <li><a href="/termsOfService">Terms Of Service</a></li>
        </ul>
    </div>
</footer>

</body>
</html>
