<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>IndieDev | Home</title>
    <link rel="stylesheet" href="/welcome.css" type="text/css" ></link>
</head>
<body>
    <div class="wrapper">
        <header>
			<img th:src="@{/images/Logo.png}" alt="IndieDev Logo" height="50px" width="50px" class="images"/>
			<nav>
				<ul class="navigation">
					<li><a href="/home">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/chats">Chats</a></li>
					<li><a href="/login" id="specialButton">Login/Register</a></li>
					<li id="profile">
						<img src="https://art.pixilart.com/783eb080961fcd6.png" alt="Profile Pic" height = "50px" width = "50px" id="profileImg"/>
					</li>
				</ul>
			</nav>
        </header>
		<!-- Content -->
		<div class="divContainer">
			<div class="leftSide">
				<h1>Welcome to <em>IndieDev</em></h1>
				<p>Develop</p>
				<p>Connect</p>
				<p>Create</p>
				<p>Collaborate</p>
				<p>Share</p>
				<p>All in one place</p>
			</div>
			<div class="rightSide">
				<img th:src="@{/images/GATO.gif}" alt="Hello" height="430px" width="430px" class="images"/>
			</div>
		</div>
		<div class="divContainer2">
			<div class="leftSide2">
				<h1>Join the community!</h1>
				<a href="/register" class="pageButton">Sign Up</a>
			</div>
			<div class="rightSide2">
				<h1>Already part of the community?</h1>
				<a href="/login" class="pageButton">Login</a>
			</div>
		</div>
		<!-- Footer -->
		<footer>
			<h2>Site Map</h2>
			<div id="siteMapLeft">
				<ul class="footerNav">
					<li><a href="#">Home</a></li>
					<li><a href="#">Portfolio</a></li>
					<li><a href="#">Chats</a></li>
					<li><a href="#">Profile</a></li>
				</ul>
			</div>
			<div id="siteMapRight">
				<ul class="footerNav">
					<li><a href="#">About Us</a></li>
				</ul>
			</div>
		</footer>
    </div>
</body>
</html>