/* Main CSS */
body, html {
    font-size: 1em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #262626;
    margin: 0px;
}
/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    border-radius: 0px;
    background-color: #2E2E2E;
    padding: 15px 10px;

    position: sticky;
    top: 0;
}
.images {
    border-radius: 30px;
}
.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin: 0px 5px;
}
.navigation li a {
    color: #ffffff;
    padding: 20px 30px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.navigation li a:hover, nav li a.current {
    color: #0084FF;
}
#specialButton {
    border-radius: 30px;
    background-color: #1D71AF;
}
#specialButton:hover {
    color: #000000;
}
.profileImg {
    border-radius: 30px;
}

/* Dropdown */
.dropdown {
    position: relative;
    top: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E2E2E;

    min-width: 200px;
    right: -15px;
    top: 65px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#profileInfo {
    height: 60px;
    display: flex;
    padding: 5px;
    border-bottom: #3b3b3b solid 3px;
}
#profileInfo .profileImg{
    margin: auto;
    float: left;
}
#profileInfo p {
    margin: auto;
    float: right;
}

/* Footer */
footer {
    padding-top: 10px;
    margin-top: 10px;
    height: 200px;
    background-color: #2E2E2E;
}
footer h2 {
    margin: 0px 0px 0px 10px;
}
#siteMapLeft {
    width: 10%;
    margin-left: 10px;
    margin-right: auto;
    float: left;
}
#siteMapRight {
    margin-left: auto;
    margin-right: 10px;
    float: left;
}
.footerNav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}
.footerNav li {
    font-size: 1em;
    padding: 10px 0px;
}
.footerNav li a {
    color: #ffffff;
    text-decoration: none;
}
.footerNav li a:hover, .footerNav a.current {
    color: #0084FF;
}
/* Actual Content */
.wrapper {
    margin: 0px auto;
    background-color: #262626;
    border-radius: 30px;
}
.divSep {
    height: 20px;
}
.divContainer {
    height: 500px;
    font-size: 1.25em;
    margin: 10px 20px 10px 10px;
    display: flex;
}
.leftSide {
    width: 50%;
    padding: 20px;
    margin: 10px auto 10px 10px;
    float: left;
}
h1{
    text-align: center;
    border-bottom: solid #181818 2px;
    padding-bottom: 5px;
}

.leftSide2 {
    width: 30%;
    padding: 20px;
    background-color: #2B2B2B;
    border-radius: 30px;
    margin: 10px 15px 10px 0;
    text-align: left;
    float: left;
}
.inbox{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.inboxcontainer {
    border: solid #575757 3px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}

.leftSide2 img {
    border-radius: 50%;
}

.msgcontainer a {
    margin-top: 10%;
}
.rightSide2 {
    width: 75%;
    padding: 20px;
    background-color: #2B2B2B;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;
    text-align: left;
    float: right;
}

.rightSide2 img {
    border-radius: 50%;
    margin-top: 5%;
}

.pageButton {
    width: 50%;
    height: auto;
    text-align: center;
    color: #000000;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    border-radius: 30px;
    background-color: #1D71AF;
}

#messaging {
    display: flex;
    height: 40px;
    width: 100%;
    border-top: solid #181818 2px;
    padding-top: 10px;
    margin-top: 100px;

}

#sendmsg {
    margin-top: 10px;
    background-color: transparent;
    border: solid #575757 5px;
    border-radius: 20px;
    width: 250%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    font-size: 1.05em;
    color: #FFFFFF;
    float: left;
}

#sendbutton {
    margin-top: 13px;
    margin-left: auto;
    background-color: #0084FF;
    border-radius: 20px;
    height: 100%;
    width: 10%;
    padding: 0px 10px 0px 10px;
    font-size: 1.05em;
    color: #FFFFFF;
    float: right;
}