/* Main CSS */
body {
    font-size: 1em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #262626;
    margin: 0px;
}
.wrapper {
    margin: 0px auto;
    background-color: #262626;
    border-radius: 30px;
}
/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    border-radius: 0px;
    background-color: #2E2E2E;
    padding: 15px 10px
}
.images {
    border-radius: 30px;
}
.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin: 0px 5px;
}
.navigation li a {
    color: #ffffff;
    padding: 20px 30px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.navigation li a:hover, nav li a.current {
    color: #0084FF;
}
#specialButton {
    border-radius: 30px;
    background-color: #1D71AF;
}
#specialButton:hover {
    color: #000000;
}
#profileImg {
    border-radius: 30px;
    position: relative;
    top: 20px;
}
/* Actual Content */
.divSep {
    height: 20px;
}
.divContainer {
    height: 500px;
    font-size: 1.25em;
    margin: 10px 20px 10px 20px;
    background-color: #2B2B2B;
    border-radius: 30px;
}
.leftSide {
    width: 50%;
    padding: 20px;
    /*
    margin-left: 10px;
    margin-right: auto;
    */
    margin: 10px auto 10px 10px;
    float: left;
}
.rightSide {
    padding: 20px;
    /*
    margin-left: auto;
    margin-right: 10px;
    */
    margin: 10px 10px 10px auto;
    float: right;
}
.divContainer2 {
    font-size: 1em;
    margin: 10px 20px 10px 20px;
}
.leftSide2 {
    position: relative;
    width: 40%;
    max-height: 80%;
    padding-top: 20px;
    padding-left: 0;
    margin-top: 5%;
    margin-left: 30%;
    padding-right: 35px;
    background-color: #2B2B2B;
    border-radius: 30px;
    left: 30%;
    text-align: left;
    border: 2px solid #3b3b3b;
}
.rightSide2 {
    width: 35%;
    max-height: 80%;
    padding: 20px;
    background-color: #2B2B2B;
    border-radius: 30px;
    margin: 10px 0px 10px auto;
    float: right;
    text-align: left;
    border: 2px solid #3b3b3b;
}

.rightSide2 a, .leftSide2 a {
    text-decoration: none;
    color: #ffffff
}

.pageButton {
    width: 50%;
    height: auto;
    text-align: center;
    color: #000000;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    padding: 25px;
    border-radius: 30px;
    background-color: #1D71AF;
}

ul {
    list-style-type: none;
}

button {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    margin-right: 2%;
}
.footerNav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}
.footerNav li {
    font-size: 1em;
    padding: 10px 0px;
}
.footerNav li a {
    color: #ffffff;
    text-decoration: none;
}
.footerNav li a:hover, .footerNav a.current {
    color: #0084FF;
}

