/* Main CSS */
body, html{
    font-size: 1em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: 0em;
    color: #FFFFFF;
    background-color: #262626;
    height: 100%;
    margin: 0px;
}
/* Header and Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    border-radius: 0px;
    background-color: #2E2E2E;
    padding: 15px 10px;

    position: sticky;
    top: 0;
}
.images {
    border-radius: 30px;
}
.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin: 0px 5px;
}
.navigation li a {
    color: #ffffff;
    padding: 20px 30px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
}
.navigation li a:hover, nav li a.current {
    color: #0084FF;
}
#specialButton {
    border-radius: 30px;
    background-color: #1D71AF;
}
#specialButton:hover {
    color: #000000;
}
.profileImg {
    border-radius: 30px;
}

/* Dropdown */
.dropdown {
    position: relative;
    top: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2E2E2E;

    min-width: 200px;
    right: -15px;
    top: 65px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#profileInfo {
    height: 60px;
    display: flex;
    padding: 5px;
    border-bottom: #3b3b3b solid 3px;
}
#profileInfo .profileImg{
    margin: auto;
    float: left;
}
#profileInfo p {
    margin: auto;
    float: right;
}

/* Footer */
footer {
    padding-top: 10px;
    margin-top: 10px;
    height: 200px;
    background-color: #2E2E2E;
}
footer h2 {
    margin: 0px 0px 0px 10px;
}
#siteMapLeft {
    width: 10%;
    margin-left: 10px;
    margin-right: auto;
    float: left;
}
#siteMapRight {
    margin-left: auto;
    margin-right: 10px;
    float: left;
}
.footerNav {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;
}
.footerNav li {
    font-size: 1em;
    padding: 10px 0px;
}
.footerNav li a {
    color: #ffffff;
    text-decoration: none;
}
.footerNav li a:hover, .footerNav a.current {
    color: #0084FF;
}
/* Page Wrapper */
.wrapper {
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    background-color: #262626;
}
/* Actual Content */
#mainContent {
    min-height: 600px;
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}
#contentHolderRight {
    width: 75%;
    min-height: 5%;
}
#usersTable {
    width: -webkit-fill-available;
    height: fit-content;
    background: #E26A2C; /* 262626 */
    border-radius: 30px;
    padding: 15px;
}
#usersTable thead tr{
    background-color: #FF8243;
}
#usersTable thead tr th {
    padding: 10px;
}
#usersTable tbody tr {
    background-color: #FDA65D;
    text-align: right;
}
#usersTable tbody tr td {
    padding: 10px;
}
#usersTable tbody tr td a {
    text-decoration: none;
    color: #ffffff;
}
#contentHolderLeft {
    width: 20%;
    min-height: 5%;
    margin: 0px 0px;
}
#profilePic {
    width: 275px;
    height: 275px;
    margin: 0px auto;
}
#profilePic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#contentHolderRight h1, h2 {
    margin: 10px 0;
}